<html>

<head>
    <title>Fleet Monitoring and Routing Guide</title>
    <h1>Fleet Monitoring</h1>
</head>

<body>


    <p>Are you an ADMIN or EMPLOYEE?</p>
    <table>
        <tr>
            <td>
                <form action="/Admin" method="post">
                    <input type="submit" value="Administrator">
                </form>
            </td>


        </tr>
        <tr>
            <td>
                <form action="/Emp" method="post">
                    <input type="submit" value="Employee">
                </form>
            </td>
        </tr>
    </table>
</body>

</html>